*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
hr {
  margin-block: 1.5rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.tittle > div {
  z-index: 1;
}

.tittle > div > h1 {
  height: auto;
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 6vw, 4rem);
}
.tittle > div > p {
  height: auto;
  font-size: clamp(0.6rem, 3vw, 1.5rem);
}

.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tittle img {
  width: clamp(4rem, 20%, 8rem);
  height: auto;
  transform: scale(1.3);
}

/* -------------------- Counter --------------------  */

.counter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 17rem;
  max-width: 30rem;
  border: 1px solid rgb(13, 13, 189);
  box-shadow: 0rem 1rem 1rem rgba(13, 13, 189, 0.3);
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  gap: 1rem;
}

.counter-section p {
  border: none;
  color: rgb(13, 13, 189);
  font-weight: 700;
  height: 4rem;
  text-align: center;
  font-size: 3rem;
  width: 10rem;
}
.counter-buttons {
  display: flex;
  gap: 0.5rem;
  height: 2rem;
}

.counter-buttons * {
  background-color: #f4f4f4;
  border: 1px solid rgb(13, 13, 189);
  box-shadow: inset 0rem 0.2rem 0.5rem rgba(13, 13, 189, 0.3);
  width: 2.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.counter-buttons *:active {
  background-color: #ffffff;
  box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(13, 13, 189, 0.1);
}

.counter-buttons :nth-child(3),
.counter-buttons :nth-child(4) {
  width: 4.3rem;
}

@media (max-width: 25rem) {
  .counter-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .counter-buttons {
    height: auto;
    place-items: center;
  }
  .counter-buttons > * {
    height: 2rem;
  }
}

/* -------------------- Filter --------------------  */

.container-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 64rem;
  padding-inline: 2rem;
}

.selection-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 60rem;
  height: auto;
  list-style: none;
  gap: 0.4rem;
}
.card,
.card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > img {
  width: 10rem;
}

@media (max-width: 45rem) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card > img {
    min-width: 6rem;
    width: 100%;
  }
}

@media (max-width: 20rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card > img {
    min-width: 6rem;
    width: 100%;
  }
}
/* -------------------- Shopping cart & Inventory --------------------  */

.shopping {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 0.2rem;
  max-width: 64rem;
  width: 100%;
}

.shopping > :first-child {
  min-width: 15rem;
  font-size: clamp(1.5rem, 5vw, 4rem);
  grid-column: 1/4;
  text-align: center;
  border: 1px solid rgb(255, 152, 0);
  border-radius: 0.5rem;
  padding-block: 1rem;
  background: linear-gradient(to top, rgb(255 255 255), rgb(255 152 0));
}

.searchProduct {
  grid-column: 1/4;
  display: flex;
  gap: 1rem;
}

.searchProduct > input {
  border-radius: 0.4rem;
  border: 1px solid rgb(13, 13, 189);
  max-width: 20rem;
  min-width: 12rem;
  width: 100%;
}

.searchProduct > input:focus-visible {
  outline: 1.2px solid rgb(13, 13, 189);
}

.products {
  display: grid;
  grid-template-rows: auto 1fr;
}

.products > h2 {
  font-size: clamp(1.2rem, 5vw, 4rem);
}

.listOfProducts {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: 1fr;
  margin-inline: auto;
  justify-content: center;
}

.shoppingCart {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 0.5rem;
}

.shoppingCart > h2 {
  font-size: clamp(0.5rem, 3.3vw, 2.4rem);
  margin-bottom: 0.5rem;
}

.shoppingCart > :last-child {
  font-size: clamp(0.4rem, 2vw, 1rem);
  margin-top: 0.4rem;
  border: 1px solid rgb(255, 152, 0);
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 152, 0));
  font-weight: bold;
  border-radius: 0.2rem;
  height: auto;
  padding: 0.1rem;
}

.purchase {
  font-size: clamp(0.4rem, 5vw, 1rem);
  list-style: none
}

.emptyMessage {
  font-size: 1.5rem;
}

.totalPurchase {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.productTotal > span { 
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.productTotal {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.1rem
}

 
.totalPurchase > * {
  font-size: clamp(0.7rem, 5vw, 2rem);
}

.containerProduct {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(13, 13, 189);
  list-style: none;
  overflow: hidden;
}

.containerProduct > :first-child {
  background-color: rgb(151, 151, 151);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.2rem;
  padding-inline: 0.5rem;
  font-size: 0.7rem;
}

.infoProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.infoProduct > img {
  width: 4rem;
  height: auto;
}

.productAmount {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.productAmount > * {
  display: grid;
  place-items: center;
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid rgb(13, 13, 189);
}

@media (min-width: 30rem) {
  .listOfProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 40rem) {
  .listOfProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 64rem) {
  .listOfProducts {
    grid-template-columns: repeat(5, 1fr);
  }
}