*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
hr {
  margin-block: 1.5rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.container h1 {
  height: auto;
  margin-bottom: 0.5rem;
}

.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tittle img {
  width: 7rem;
  height: auto;
}

@media (max-width: 27rem) {
  .tittle img {
    width: 5.5rem;
    height: auto;
  }

  .tittle {
    gap: 0rem;
    font-size: 0.7rem;
  }
}

/* -------------------- Counter --------------------  */

.counter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 17rem;
  max-width: 30rem;
  border: 1px solid rgb(13, 13, 189);
  box-shadow: 0rem 1rem 1rem rgba(13, 13, 189, 0.3);
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  gap: 1rem;
}

.counter-section p {
  border: none;
  color: rgb(13, 13, 189);
  font-weight: 700;
  height: 4rem;
  text-align: center;
  font-size: 3rem;
  width: 10rem;
}
.counter-buttons {
  display: flex;
  gap: 0.5rem;
  height: 2rem;
}

.counter-buttons * {
  background-color: #f4f4f4;
  border: 1px solid rgb(13, 13, 189);
  box-shadow: inset 0rem 0.2rem 0.5rem rgba(13, 13, 189, 0.3);
  width: 2.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.counter-buttons *:active {
  background-color: #ffffff;
  box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(13, 13, 189, 0.1);
}

.counter-buttons :nth-child(3),
.counter-buttons :nth-child(4) {
  width: 4.3rem;
}

@media (max-width: 25rem) {
  .counter-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .counter-buttons {
    height: auto;
    place-items: center;
  }
  .counter-buttons > * {
    height: 2rem;
  }
}

/* -------------------- Filter --------------------  */

.container-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 64rem;
  padding-inline: 2rem;
}

.selection-cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 60rem;
  height: auto;
  list-style: none;
  gap: 0.4rem;
}

.card > img {
  width: 10rem;
}

@media (max-width: 45rem) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card > img {
    min-width: 6rem;
    width: 100%;
  }
}

@media (max-width: 20rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card > img {
    min-width: 6rem;
    width: 100%;
  }
}
